  
/* we push the content down some and clean up the edges on mobile devices */
@media (max-width: 767px) {
    .content {
      padding: 15px;
      margin-top: 100px;
    }
}
 
/* When we were on larger screen sizes we can show our vertical menu bar */
@media (min-width: 768px) {
    /* clean up some of the default Bootstrap styles for panels in the menu */
    #menu-bar .panel {
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -box-shadow: none;
    }
 
    #navbar {
      float: left;
      width: 300px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
    }
 
    .content {
      margin-left: 300px; /* If you adjusted the width above you will need to adjust this as well */
      min-height: 100%;
    }
 
    .container {
      margin-left: 25px; /* We will add a little cushion to our content between the menu bar */
    }
}
