  
/* we push the content down some and clean up the edges on mobile devices */
@media (max-width: 767px) {
    .content {
      padding: 15px;
      margin-top: 100px;
    }
    #navbar-right {
      float: right;
      width: 0px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 0px;
    }
}
 
/* When we were on larger screen sizes we can show our vertical menu bar */
@media (min-width: 768px) {
    /* clean up some of the default Bootstrap styles for panels in the menu */
    #menu-bar .panel {
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      -box-shadow: none;
    }
 
    #navbar-left{
      float: left;
      width: 200px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
    }
    #navbar-right {
      float: right;
      width: 150px; /* You can adjust the width to your liking, just remember to also adjust the content margin below accordingly */
      height: 100%;
    }
 
    .content {
      margin: 0 150px 0 200px; /* If you adjusted the width above you will need to adjust this as well */
      min-height: 100%;
    }
 
    .container {
      /*margin: 0px 25px;*/
      width: 100%;
    }
}
.site-title{
  margin-bottom: 20px;
}

a:hover .site-title {
  color: #fff;
}

.login-title{
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-btn{
  margin: 5px 0;
  padding: 0 7px;
}

.container {
  max-width: 750px;
}

.nav {
  margin-bottom: 30px;
}
.navbar-form{
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.navbar-form .form-control {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0;
}

.form-nav .btn{
  font-size: 10px;
}

.navbar-header {
  float: none;
  text-align: center;
}

.navbar-collapse.collapse {
  color: #EEEEEE;
}

.navbar-fixed-top-left {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
}

.navbar-fixed-top-right {
  position: fixed;
  right: 0px;
  /*left: 0px;*/
  z-index: 1030;
  top: 0px;
}

.container {
  padding-top: 0px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
}

a {
  color: #EEEEEE;
  text-decoration: none;
  text-align: center;
}

a:focus, a:hover {
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

.login-list{
  text-transform: capitalize;    
}

.form_create_message{
  display: inline-block;
}
